In [1]:
import pandas as pd
#CreateasampleemployeeDataFrame
data={ 'EmployeeID':[101,102,103,104,105], 
      'Name':['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
      'Age':[28,32,29,35,26] } 
df=pd.DataFrame(data) 
#DisplaytheinitialDataFrame 
print("InitialDataFrame:")
print(df) 
#Let'ssay you want to delete the row for the employee named'Charlie' 
employee_to_delete='Charlie' 
#Usethe.locpropertytodeletetherowbasedontheemployee'sname 
df=df.loc[df['Name']!=employee_to_delete] 
#DisplaytheDataFrameafterdeletingtherow 
print("\nDataFrameafterdeletingtherowfor'Charlie':") 
print(df)

InitialDataFrame:
   EmployeeID     Name  Age
0         101    Alice   28
1         102      Bob   32
2         103  Charlie   29
3         104    David   35
4         105      Eve   26

DataFrameafterdeletingtherowfor'Charlie':
   EmployeeID   Name  Age
0         101  Alice   28
1         102    Bob   32
3         104  David   35
4         105    Eve   26

In [2]:
#delete a column
import pandas as pd
# Create a sample employee DataFrame
data = { 'EmployeeID': [101, 102, 103, 104, 105], 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],'Age': [28, 32, 29, 35, 26], 'Photo': ['photo1.jpg', 'photo2.jpg', 'photo3.jpg', 'photo4.jpg', 'photo5.jpg'] }
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Delete the 'Photo' column (employee photos are no longer needed)
df = df.drop('Photo', axis=1)
# Display the DataFrame after deleting the column
print("\nDataFrame after deleting the 'Photo' column:") 
print(df)

Initial DataFrame:
   EmployeeID     Name  Age       Photo
0         101    Alice   28  photo1.jpg
1         102      Bob   32  photo2.jpg
2         103  Charlie   29  photo3.jpg
3         104    David   35  photo4.jpg
4         105      Eve   26  photo5.jpg

DataFrame after deleting the 'Photo' column:
   EmployeeID     Name  Age
0         101    Alice   28
1         102      Bob   32
2         103  Charlie   29
3         104    David   35
4         105      Eve   26

In [3]:
import pandas as pd
# Create a sample sales DataFrame
data = {
'OrderID': [101, 102, 103, 104, 105],
'Product': ['Widget', 'Gadget', 'Widget', 'Doodad', 'Widget'],
'Quantity': [10, 5, 0, 7, 15],
'Status': ['Shipped', 'Canceled', 'Canceled', 'Shipped', 'Shipped']
}
df = pd.DataFrame(data)
# Display the initial DataFrame
print("Initial DataFrame:")
print(df)
# Delete rows where the order status is 'Canceled'
df = df[df['Status'] != 'Canceled']
# Display the DataFrame after deleting rows
print("\nDataFrame after deleting 'Canceled' orders:")
print(df)

Initial DataFrame:
   OrderID Product  Quantity    Status
0      101  Widget        10   Shipped
1      102  Gadget         5  Canceled
2      103  Widget         0  Canceled
3      104  Doodad         7   Shipped
4      105  Widget        15   Shipped

DataFrame after deleting 'Canceled' orders:
   OrderID Product  Quantity   Status
0      101  Widget        10  Shipped
3      104  Doodad         7  Shipped
4      105  Widget        15  Shipped

In [4]:
#csv----------------------------------
#pandas io and cleaning data-----

import pandas as pd
# Create a Pandas DataFrame
data = {
'Name': ['Alice', 'Bob', 'Charlie'],
'Age': [25, 30, 35]
}
df = pd.DataFrame(data)
# Specify the file path to save the CSV file
csv_file_path = 'output.csv'
# Write the DataFrame to a CSV file
df.to_csv(csv_file_path, index=False) # this will create a new file in the current folder
print(f'Data has been written to {csv_file_path}')

Data has been written to output.csv

In [7]:
#read csv file
data=pd.read_csv('output.csv')
print(data)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [8]:
data=pd.read_csv('output.csv',nrows=3)
print(data)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [9]:
data=pd.read_csv('output.csv',nrows=1)
print(data)

    Name  Age
0  Alice   25

In [10]:
data=pd.read_csv('output.csv',nrows=3,usecols=["Name","Age"])
print(data)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [11]:
data=pd.read_csv('output.csv',nrows=3,usecols=["Name"])
print(data)

      Name
0    Alice
1      Bob
2  Charlie

In [13]:
data=pd.read_csv('output.csv',nrows=3,usecols=[0])
print(data)

      Name
0    Alice
1      Bob
2  Charlie

In [14]:
data=pd.read_csv('output.csv',nrow=5,usecols=["Name","Age"])
data=pd.read_csv('output.csv')
print(data)
#data=pd.read_csv('output.csv',nrows=5,usecols=[0,2,3],skiprowa=[0,2])
#data=pd.read_csv('output.csv',nrows=5,skiprowa=[0,2])

data=pd.read_csv('output.csv',index_col="Age")
print(data)

TypeError: read_csv() got an unexpected keyword argument 'nrow'

In [16]:
df=pd.read_csv('output.csv')
df.head(2)   #head by default give 5 top values

    Name  Age
0  Alice   25
1    Bob   30

In [17]:
df=pd.read_csv('output.csv')
df.tail(2)

      Name  Age
1      Bob   30
2  Charlie   35

In [18]:
df=pd.read_csv('output.csv')
df.columns
df.describe()

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [19]:
df=pd.read_csv('output.csv')
df[1:4]

      Name  Age
1      Bob   30
2  Charlie   35

In [22]:
import pandas as pd
column_names = ['Name','Age']
data = pd.read_csv('output.csv', names= column_names, header=0)
print("Dataframe information")
print(data.info())
print("Dataframe Description")
print(data.describe())

Dataframe information
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes
None
Dataframe Description
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [23]:
import pandas as pd
column_names= ['Name','Age']
data = pd.read_csv('output.csv', names= column_names, header=0)
print("count null values")
print(data.count())
print("Dataframe Description")
print(data.describe())

Dataframe information
Name    3
Age     3
dtype: int64
Dataframe Description
        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [ ]:
import pandas as pd
import numpy as np